:root {
  --color-purple:#293264
}
*,*::after,*::before{
  box-sizing: border-box;
  user-select: none;
}
body, .intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  background: url(assets/blobs-left.png), url(assets/blobs-right.png);
  background-repeat: no-repeat;
  background-position: bottom left, top right;
}
.intro {
  flex-direction: column;
}
.intro h1,h2 {
  color: var(--color-purple);
}
.intro h1 {
  margin: 0;
}
.intro h2 {
  font-size: 1.25rem;
}
.intro--btn {
  border: none;
  background-color:#4D5B9E ;
  font-size: 1.25rem;
  color: whitesmoke;
  padding: 0.75em;
  border-radius: 10px;
  width: 100%;
  margin-top: 1em;
}
.question--container {
  max-width: 700px;
}
.question {
  font-size: 1.25rem;
  color: var(--color-purple);
  margin: 1.25em 0;
}
.all--answer {
  border: 1px solid var(--color-purple);
  padding: 0.5em;
  border-radius: 10px;
  color: var(--color-purple);
  margin-right: 1em;
}
.all--answer:hover {
  cursor: pointer;
}
.all--answer:active,.all--answer:focus,.all--answer::selection {
  background-color: #4D5B9E;
  color: whitesmoke;
}
hr {
  margin-top: 1.5em;
}