*,*::after,*::before{
    box-sizing: border-box;
    font-family:  "Karla";
    user-select: none;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2em;
}
.main-container {
    padding: 1em;
}
  .btn-container h1 {
    font-size: 1.25rem;
    padding: 0.75em 0;
    color: #293264
}
  hr {
    margin-top: 2em;
    color: #293264;
  }
  /* Radio Style */
  /* Estilos para el contenedor del radio-button */
label {
  display: inline-block;
  position: relative;
  padding: 8px 16px;
  background-color:transparent;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  color: #293264;
  font-weight: bold;
  margin-right: 1em;
}

/* Estilos para el input de radio */
input[type="radio"] {
  display: none; /* Ocultar el input de radio */
}

/* Estilos para el botón cuando está seleccionado */
input[type="radio"]:checked + span {
  background-color: #D6DBF5;
  color: #293264;
}

/* Estilos para el texto dentro del botón */
span {
  display: inline-block;
  vertical-align: middle;
}

/* Estilos para el botón al pasar el cursor */
label:hover {
  background-color: #e0e0e0;
}
